<assembly>
  <id>deploy</id>
  <formats>
    <format>tar.gz</format>
  </formats>
  <includeBaseDirectory>false</includeBaseDirectory>
  <dependencySets>
    <dependencySet>
      <useProjectArtifact>true</useProjectArtifact>
      <includes>
        <include>com.devhc:jobdeploy-core</include>
      </includes>
    </dependencySet>
  </dependencySets>
  <fileSets>
    <fileSet>
      <outputDirectory>conf</outputDirectory>
      <directory>${project.parent.basedir}/core/src/main/resources</directory>
      <includes>
        <include>deploy_config_default.properties</include>
      </includes>
    </fileSet>
    <fileSet>
      <outputDirectory>bin</outputDirectory>
      <fileMode>0755</fileMode>
      <directory>${project.parent.basedir}/script</directory>
      <excludes>
        <exclude>build-release.sh</exclude>
      </excludes>
    </fileSet>
  </fileSets>
</assembly>
