<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title,links)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:replace="${title}">maas</title>
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/maas.css}">
  <th:block th:replace="${links}" />
</head>

<body>
<!-- this html only for fragment -->
<div th:fragment="copy">
</div>
<div th:fragment="menu">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" th:href="@{/temp}">temp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">asdf</a>
    </li>
  </ul>
</div>


<nav class="navbar navbar-inverse navbar-default navbar-static-top" th:fragment="navbar">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Link1</a></li>
    </ul>
  </div>
</nav>


<div th:fragment="javascript-app(script)">

  <!--
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/vue/vue.min.js}"></script>
  -->
  <script src="/configjs"></script>
  <script src="/webjarsjs"></script>
  <script data-main="/js/app.js" src="/webjars/requirejs/require.min.js"></script>
  <th:block th:replace="${script}" />
</div>


<div th:fragment="nav-app(content)">
  <div th:replace="base::navbar"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="panel panel-info">
          <div class="panel-body">
            <div th:replace="base::menu"></div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <th:block th:replace="${content}" />
      </div>
    </div>
  </div>
  <div th:replace="base::javascript-app(~{})">
</div>

</body>
</html>
