<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework.web" level="ERROR"/>
  <logger name="org.springframework.boot" level="ERROR"/>
  <logger name="org.springframework.web.servlet.handler" level="ERROR"/>
  <logger name="org.springframework.jmx.jpa" level="ERROR"/>
  <logger name="org.hibernate" level="ERROR"/>
  <logger name="com.zaxxer.hikari" level="ERROR"/>
</configuration>
