<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{})">
  <title>temp</title>
</head>
<body>
<div th:replace="base::nav-app(~{::#app-main})">
  <div id="app-main">
    <div class="panel panel-default" id="app" hidden="hidden">
      <div class="panel-heading">temp</div>
      <table id="table"></table>
    </div>
    <div id="modelForm">
      <bt-form v-bind:form="form"></bt-form>
    </div>
  </div>
</div>
</div>
</div>

<script type="x-template" id="bt-widget">
  <div v-if="type === 'input'">
    <div class="control-group">
      <!-- Text input-->
      <label class="control-label" v-bind:for="name">{{label}}</label>
      <div class="controls">
        <input v-bind:id="name" type="text" placeholder="placeholder" class="input-xlarge">
        <p class="help-block">please input {{label}}</p>
      </div>
    </div>
  </div>
  <div v-else-if="type === 'btn'">
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success">{{label}}</button>
      </div>
    </div>
  </div>
  <div v-else-if="type === 'C'">
    C
  </div>
  <div v-else>

  </div>
</script>


<script type="x-template" id="btForm">
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">{{form.title}}</legend>
      </div>
      <bt-widget
          v-for="widget in form.widgets"
          v-bind:key="widget.id"
          v-bind:label="widget.label"
          v-bind:name="widget.name"
          v-bind:type="widget.type"
      ></bt-widget>
    </fieldset>
  </form>
</script>


</body>
</html>
